# Compiled class file
*.class
reportProgettoAversano/*.pdf
reportProgettoAversano/*.synctex.gz
reportProgettoAversano/*.aux
reportProgettoAversano/*.log
reportProgettoAversano/*.toc
reportProgettoAversano/*.lof
reportProgettoAversano/*.lot
reportProgettoAversano/*.out